/*FORM PENDATAAN PERIKANAN*/

    h5{
        background-color: #f3f3f3;
        text-align: center;
    }

    tr{
        margin: auto;
        text-align: center;
    }

    table{
        font-family: Arial, Helvetica, sans-serif;
    }
    .content-table{
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 0.4cm;
        ;
    }

    .content-table thead tr{
        background-color: #4a6a8f;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .content-table th,
    .content-table td{
        padding: 10px 20px;
    }

    .content-table tbody tr{
        border-bottom: 1px solid #dddd;
    }

    .content-table tbody tr:nth-of-type(even){
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type{
        border-bottom:2px solid #4a6a8f ;
    }

    #1pt{
        background-color: #f3f3f3;
        text-align: center;
    }
